* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
}

.container {
  border-radius: 18px;
  padding: 12px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  width: 295px;
}

.qr-code {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0px 12px 30px 12px;
}

h3 {
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
}

p {
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
}

img {
  border-radius: 12px;
  width: 100%;
}
